<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-left"><i><b>Pending Loans</b></i></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor='let item of items'>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> {{item.loan_name}}</ion-label>
    </ion-item>
  
    <ion-card-content>
      Application No : {{item.app_id}}
      <br>
      <ion-button fill="outline" slot="end" (click)="ViewLoanviews($event)" id="{{item.app_id}}">Click to More Details</ion-button>
    </ion-card-content>

  </ion-card>
  
  <ion-card *ngIf="hide2">
    <ion-label>
      <div class="f">
      <strong>No Loans</strong>
      </div>
    </ion-label>
  </ion-card>
  
</ion-content>
