<ion-header>
  <ion-toolbar>
   
      
        <ion-buttons slot="start">
          <ion-back-button text="Back" defaultHref="farmer-profile"></ion-back-button>
        </ion-buttons>
      
    <ion-title class="ion-text-center">Change Your PassWord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-item>
    <ion-label >Your Current PassWord</ion-label>
    <ion-icon slot="end" [name]="passwordtoggleicon1" (click)="togglepassword1()"></ion-icon>
    <ion-input [type]="showpassword1 ? 'text' : 'password'" [(ngModel)]="password1" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>New PassWord</ion-label>
    <ion-icon slot="end" [name]="passwordtoggleicon2" (click)="togglepassword2()"></ion-icon>
    <ion-input [type]="showpassword2 ? 'text' : 'password'" [(ngModel)]="password2" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirm New PassWord</ion-label>
    <ion-icon slot="end" [name]="passwordtoggleicon3" (click)="togglepassword3()"></ion-icon>
    <ion-input [type]="showpassword3 ? 'text' : 'password'" [(ngModel)]="password3" ></ion-input>
  </ion-item>

  <ion-button expand="full" class="ion-padding" color="medium" (click)="changepw()">Submit</ion-button>
</ion-content>
