<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-requests"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <br>
    <ion-row>
      <ion-col>
        <ion-button size="default" expand="block" color="success" (click)="viewPersonalInfo()">Personal Information</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="default" expand="block" color="success" (click)="viewApplicationForm()">Application Form</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="default" expand="block" color="success" (click)="viewAgricultureReport()">Agriculture Report</ion-button>
      </ion-col>
    </ion-row>
    <br>
  </ion-card>

  <ion-card>
    <br>
    <ion-row>
      <ion-col>
        <ion-button size="default" color="success" expand="block" (click)="Approve()">Approve</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="default" color="success" expand="block" (click)="statePending()">Reject</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <br>
</ion-content>
