<!--<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
    Ionic
  </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
</ion-content>-->

<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Farmer Profile</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
      <ion-list>
        <ion-item >
          
          <ion-label>General</ion-label>
        </ion-item>
        <ion-item routerLink="/edit">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Edit Profile</ion-label>
          
        </ion-item>
        <ion-item routerLink="/change-pw">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Change Password</ion-label>
          
        </ion-item>
        <ion-item >
          
          <ion-label>Loan Info</ion-label>
        </ion-item>
        
        <ion-item routerLink="/crop">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          <ion-label>Apply Loan</ion-label>
        </ion-item>
        <ion-item routerLink="/tabs">
          <ion-icon name="documents-outline" slot="start"></ion-icon>
          <ion-label>Loan History</ion-label>
   
        </ion-item>
      
        
        <ion-item >
          
          <ion-label>Other</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
          <ion-label>About Us</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
          <ion-label>Privacy Policy</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-item>
        <ion-item routerLink="/intro">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Sign Out</ion-label>
          
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-navbar color="primary">
          <ion-title>Welcome {{username}}</ion-title>
        </ion-navbar>
        
        
         

      
      </ion-toolbar>
    </ion-header>
    <!--<ion-content class="ion-padding">
     <ion-card>
      
        <ion-item class="ion-align-items-center">
          <ion-avatar item-start>
            <img src="assets/img/user.png">
          </ion-avatar>
          
        </ion-item>
        <h2>{{choose}} {{nameini}}</h2>
          <p>{{namefull}}</p>
      
        <img src="assets/img/paddy.jpg">
      
        <ion-card-content>
          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button color="primary" clear small icon-start>
              <ion-icon name='thumbs-up'></ion-icon>
              12 Likes
            </button>
          </ion-col>
          <ion-col>
            <button ion-button color="primary" clear small icon-start>
              <ion-icon name='text'></ion-icon>
              4 Comments
            </button>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card>
      
      
    </ion-content>-->
    <ion-content class="ion-padding">
      <ion-card>
        <img src="assets/img/paddy.jpg">
        
      <!-- <div class="overlay">
          <ion-avatar >
            <img src="assets/img/user.png" alt="Avatar" class="image">
          </ion-avatar>
          </div>-->
      
          <ion-card-content>
              <ion-card-title class="ion-text-center">
                {{choose}} {{nameini}}
              </ion-card-title>
              <p class="ion-text-center">
                {{namefull}}
              </p>
          </ion-card-content>
      
      </ion-card>



    </ion-content>
   <!--<ion-content>
      <ion-card>
      <div class="container">
        <ion-img src="assets/img/paddy.jpg" alt="Avatar" class="image"></ion-img>
        <div class="overlay">
          <ion-avatar>
            <img src="assets/img/user.png" alt="Avatar" class="image">
          </ion-avatar>
        </div>
        
      </div>
      
    </ion-card>

    
    </ion-content>-->
  </div>
</ion-app>

