<ion-header>
  <ion-toolbar>
    <ion-title>Farmer's Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

   <!--<ion-row>
      <ion-col>
        <ion-item src="app/assets/icon/favicon.png"></ion-item>
        <img src="assets/icon/favicon.png">
      </ion-col>
    </ion-row>
  -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="Edit()">Edit Details</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block"(click)="Show()">Loan History</ion-button>

      </ion-col>
    
    </ion-row>

    <br>
    <br>
    <ion-row>
      <ion-col>
        <ion-button expand="block"(click)="ApplyaLoan()">Apply a Loan</ion-button>
      </ion-col>
    
    </ion-row>
  </ion-grid>

</ion-content>
