<!-- <ion-header>
  <ion-toolbar>
    <ion-title>obtainedLoans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="bankintro"></ion-back-button>
    </ion-buttons>
    <ion-title>Obtained Loans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <!--<ion-card>-->
    <div *ngFor='let item of items'>
      <ion-row>
        <ion-col>
          <!--<img class="logi-img" src="/assets/img/People's.jpg" alt="logo">-->
          <ion-button size="default" expand="block" color="success" (click)="ViewLoans($event)" id="{{item.loan_id}}">{{item.loan_name}}</ion-button>
        </ion-col>
        <br>
      </ion-row>
      <ion-row>
        <br>
      </ion-row>
    </div>
  <!--</ion-card>--> 
  
  <br>
  
</ion-content>
