<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="crop"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Loan Schemes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card *ngFor='let item of items' >
    <img src='../../../assets/img/L1.jpg'/>
    <ion-card-header>
      <ion-card-subtitle>{{item.bank_id}}</ion-card-subtitle>
      <ion-card-title>{{item.loan_id}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.loan_name}}
    </ion-card-content>

      <ion-row>
      <ion-col>
    
        <ion-button expand="full"color="medium" (click)="ViewLoandetails($event)" id="{{item.loan_id}}">View loan details</ion-button>
      </ion-col>
      <ion-col>
      
        <ion-button size="small" color="medium" (click)="applyloan($event)" id="{{item.loan_id}}">Apply Loan</ion-button>
      </ion-col>
    </ion-row>

   
  </ion-card>

 

 
</ion-content>
