<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="crop"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Loan Schemes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <img src='../../../assets/img/L1.jpg'/>
    <ion-card-header>
      <ion-card-subtitle>Agriculture Purposes</ion-card-subtitle>
      <ion-card-title>Aswenna Loan Scheme</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       
    </ion-card-content>

      <ion-row>
      <ion-col>
    
        <ion-button size="small" color="medium">View details</ion-button>
      </ion-col>
      <ion-col>
      
        <ion-button size="small" color="medium">Apply Loan</ion-button>
      </ion-col>
    </ion-row>

   
  </ion-card>

  <ion-card>
    <img src='../../../assets/img/L2.JPG'/>
    <ion-card-header>
      <ion-card-subtitle>Agriculture Purposes</ion-card-subtitle>
      <ion-card-title>NCRCS Loan (New Comprehensive Rural Credit Scheme) </ion-card-title>
    </ion-card-header>
    <ion-card-content>
       
    </ion-card-content>

      <ion-row>
      <ion-col>
    
        <ion-button size="small" color="medium">View details</ion-button>
      </ion-col>
      <ion-col>
      
        <ion-button size="small" color="medium">Apply Loan</ion-button>
      </ion-col>
    </ion-row>

   
  </ion-card>

 
</ion-content>
