

    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>

        <ion-slide>
          <div class="slide">
            <img src="/assets/img/S1.png">
            <h2>Welcome</h2>
            <p>The <b>Govi - Navoda Loan App</b> is the easiest way to get  a agriculture Loan.</p>
          </div>

          
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/S2.jpg">
          <h2>What is "Govi - Navoda" ?</h2>
          <p><b>Govi - Navoda </b> is a mobile application for applying for agriculture loans to farmers.We provide several kind of banks to get your loans.So You can get a basic confirmation by that app.</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/S3.jpg">
          <h2>What are the Banks ?</h2>
          <ion-button color="dark" (click)="openbanks()">Show Our Banks</ion-button>

        </ion-slide>

        <ion-slide>
          <img src="/assets/img/S4.jpg">
          <h2>Ready to get a loan ?</h2>
          <ion-button fill="clear" (click)="tologin()">Login First <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>





