<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="farmer-profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Update My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header no-border>
  
  <div id="header">
    <h1>My Profile</h1>
    <img src="https://img.icons8.com/color/100/000000/farmer-male--v1.png"/>
  </div>
</ion-header>



<ion-content>
  <ion-card>

     <ion-grid>
       <ion-row>
    <ion-col size="4">

  <ion-label >Choose</ion-label>
    </ion-col>
  <ion-col size="8">
  <ion-select interface="popover" [(ngModel)]='choose'>
    <ion-select-option value="Mr">Mr</ion-select-option>
    <ion-select-option value="mrs">Mrs</ion-select-option>
    <ion-select-option value="miss">Miss</ion-select-option>
  </ion-select>
</ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="4">

  <ion-label>Name with Initial :</ion-label>
  </ion-col>
  <ion-col size="8">
  <ion-input type="text" placeholder="ex : B.J Weerasinghe" [(ngModel)]='nameini'></ion-input>
</ion-col>
</ion-row>


<ion-row>
  <ion-col size="4">

<ion-label>Name represented by Initials :</ion-label>
</ion-col>
<ion-col size="8">
<ion-input type="text" placeholder="ex : Bandula Jayantha Weerasinghe" [(ngModel)]='namefull'></ion-input>
</ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
<ion-label>Private Address :</ion-label>
</ion-col>
<ion-col size="8">
<ion-input type="text" placeholder="ex : 172/34 Webada Kadawatha" [(ngModel)]='address'></ion-input>
</ion-col>
</ion-row>


<ion-row>
  <ion-col size="4">
<ion-label>Telephone Number :</ion-label>
</ion-col>
<ion-col size="8">
<ion-input type="text" placeholder="ex : 0836281991" [(ngModel)]='TpNo'></ion-input>
</ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
<ion-label>Date Of Birth</ion-label>
</ion-col>
<ion-col size="8">
<ion-datetime value="1990-02-19" placeholder="Select Date" [(ngModel)]='dob'></ion-datetime>
</ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
<ion-label>NIC No :</ion-label>
</ion-col>
<ion-col size="8">
<ion-label>{{nic}}</ion-label>
</ion-col>
</ion-row>


<ion-row>
  <ion-col size="4">
<ion-label>Email Address :</ion-label>
</ion-col>
<ion-col size="8">
<ion-input type="text" placeholder="ex :jayantha@gmail.com" [(ngModel)]='email'></ion-input>
</ion-col>
</ion-row>
</ion-grid>
</ion-card>



<ion-row>
<ion-col>
  
<ion-button size="small" color="medium" (click)="update()" [disabled]="disableButton">Update My Details</ion-button>
</ion-col>


</ion-row>




</ion-content>