<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="intro"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
  <!-- <div class = "login-header">
    <img class="logi-img" src="/assets/img/logo-img.jpg" alt="logo">
</div> -->
</ion-header>

<!-- <ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person-circle-sharp"></ion-icon>
          <ion-label position="floating" color="success">Username</ion-label>         
          <ion-input type="text" [(ngModel)]="bank_id"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-icon slot="start" name="lock-closed"></ion-icon>
          <ion-label position="floating" color="success">Password</ion-label>         
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
  
        <ion-button expand="full" class="ion-padding" color="success" (click)="tryLogin()">Login</ion-button>
  
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-content>
  <br>
  <br>
  <div id="header">
    <!-- <h1>Login</h1> -->
    <img src="/assets/img2/login1.jpg"/>
  </div>
  <br>
  <br>


  <ion-list>
   
    <ion-item transparent >
      
      <ion-icon slot="start" name="person-circle-sharp"></ion-icon>
       <ion-input type="text" placeholder="Username" [(ngModel)]="bank_id" ></ion-input>
    </ion-item>
    <ion-item transparent>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-input type="password" placeholder="Password"[(ngModel)]="password" ></ion-input>
   </ion-item>
   
  </ion-list>
   <ion-button  expand="block" shape="round" class="ion-padding" color="success" (click)="tryLogin()">Login</ion-button>