<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="farmer-profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header no-border>
  
  <div id="header">
    
   
    <div *ngIf="zero">
      <ion-row>
        <span class="fa fa-star" style="font-size:36px"></span>
        <span class="fa fa-star" style="font-size:36px"></span>
        <span class="fa fa-star" style="font-size:36px"></span>
        <span class="fa fa-star" style="font-size:36px"></span>
        <span class="fa fa-star" style="font-size:36px"></span>
      </ion-row>
    </div>

    <div *ngIf="one">
      <ion-row>
      <span class="fa fa-star checked" style="font-size:36px"></span>
      <span class="fa fa-star" style="font-size:36px"></span>
      <span class="fa fa-star" style="font-size:36px"></span>
      <span class="fa fa-star" style="font-size:36px"></span>
      <span class="fa fa-star" style="font-size:36px"></span>
      </ion-row>
    </div>

      <div *ngIf="two">
      <ion-row>
        <span class="fa fa-star checked" style="font-size:36px"></span>
        <span class="fa fa-star checked" style="font-size:36px"></span>
        <span class="fa fa-star" style="font-size:36px"></span>
        <span class="fa fa-star" style="font-size:36px"></span>
        <span class="fa fa-star" style="font-size:36px"></span>
        </ion-row>
      </div>

        <div *ngIf="three">
        <ion-row>
          <span class="fa fa-star checked" style="font-size:36px"></span>
          <span class="fa fa-star checked" style="font-size:36px"></span>
          <span class="fa fa-star checked" style="font-size:36px"></span>
          <span class="fa fa-star" style="font-size:36px"></span>
          <span class="fa fa-star" style="font-size:36px"></span>
          </ion-row>
        </div>

          <div *ngIf="four">
          <ion-row>
            <span class="fa fa-star checked" style="font-size:36px"></span>
            <span class="fa fa-star checked" style="font-size:36px"></span>
            <span class="fa fa-star checked" style="font-size:36px"></span>
            <span class="fa fa-star checked" style="font-size:36px"></span>
            <span class="fa fa-star" style="font-size:36px"></span>
            </ion-row>
          </div>

            <div *ngIf="five">
            <ion-row>
              <span class="fa fa-star checked" style="font-size:36px"></span>
              <span class="fa fa-star checked" style="font-size:36px"></span>
              <span class="fa fa-star checked" style="font-size:36px"></span>
              <span class="fa fa-star checked" style="font-size:36px"></span>
              <span class="fa fa-star checked" style="font-size:36px"></span>
              </ion-row>
            </div>

            <img src="https://img.icons8.com/color/100/000000/farmer-male--v1.png"/>
  </div>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-card>
    <ion-card>
           <ion-grid>
             <ion-row>
               <ion-col size="4">
                 <ion-card-subtitle><b>Name with Initial </b></ion-card-subtitle>
               </ion-col>
               <ion-col size="8">
                 <ion-card-subtitle>{{choose}} {{nameini}}</ion-card-subtitle>
               </ion-col>
               
             </ion-row>
             <ion-row>
               <ion-col size="4">
                 <ion-card-subtitle><b>Name in full</b></ion-card-subtitle>
               </ion-col>
               <ion-col size="8">
                 <ion-card-subtitle>{{namefull}}</ion-card-subtitle>
               </ion-col>
               
             </ion-row>
             <ion-row>
               <ion-col size="4">
                 <ion-card-subtitle><b>Private Address </b></ion-card-subtitle>
               </ion-col>
               <ion-col size="8">
                 <ion-card-subtitle> {{address}}</ion-card-subtitle>
               </ion-col>
               
             </ion-row>
             <ion-row>
               <ion-col size="4">
                 <ion-card-subtitle><b>Telephone Number</b></ion-card-subtitle>
               </ion-col>
               <ion-col size="8">
                 <ion-card-subtitle> {{TpNo}}</ion-card-subtitle>
               </ion-col>
               
             </ion-row>
             <ion-row>
               <ion-col size="4">
                 <ion-card-subtitle><b>Date Of Birth</b></ion-card-subtitle>
               </ion-col>
               <ion-col size="8">
                 <ion-card-subtitle>{{dob}}</ion-card-subtitle>
               </ion-col>
               
             </ion-row>
             <ion-row>
               <ion-col size="4">
                 <ion-card-subtitle><b>NIC No </b></ion-card-subtitle>
               </ion-col>
               <ion-col size="8">
                 <ion-card-subtitle>{{nic}}</ion-card-subtitle>
               </ion-col>
               
             </ion-row>
             <ion-row>
               <ion-col size="4">
                 <ion-card-subtitle><b>Email Address </b></ion-card-subtitle>
               </ion-col>
               <ion-col size="8">
                 <ion-card-subtitle>{{email}}</ion-card-subtitle>
               </ion-col>
               
             </ion-row>
           </ion-grid>
         </ion-card> 
       </ion-card>

     
  
       
 <!-- <ion-card>
    <ion-card-header>
      
      <ion-card-title>Name with initial</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{choose}} {{nameini}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Name in full</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{namefull}}
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{address}}
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Telephone Number</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{TpNo}}
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Date of Birth</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{dob}}
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>NIC No</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{nic}}
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>E-mail address</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     {{email}}
    </ion-card-content>
  </ion-card>
-->
  <ion-row>
    <ion-col>
        
      <ion-button size="small" color="medium" (click)="tryUpdate()" [disabled]="disableButton">Update Details</ion-button>
    </ion-col>
   </ion-row>
  
  
 

</ion-content>
