#header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 26px;
    color: #010100;
    margin-bottom: 15%;
  }

  img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 8px solid #ffffff;
  }
}
