<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="loans"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{loan_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <div>
  <ion-item>
    <ion-label color="primary"><i>General Information</i> </ion-label>
  </ion-item>
 

  <ion-card>
    <ion-item>
      <ion-label>{{genera_info}}</ion-label>
    </ion-item>
  </ion-card>
</div>
 
  <ion-item>
    <ion-label color="primary"><i>Special Information</i> </ion-label>
  </ion-item>

  <ion-card>
    <ion-item>
      <ion-label>{{specific_info}}</ion-label>
    </ion-item>
  </ion-card>
 
  
  <ion-item>
    <ion-label color="primary"><i>Eligible Borrowers</i> </ion-label>
  </ion-item>

  <ion-card>
    <ion-item>
      <ion-label>{{eligible_borrowers}}</ion-label>
    </ion-item>
  </ion-card>
 
  <ion-item>
    <ion-label color="primary"><i>Eligible Crops</i> </ion-label>
  </ion-item>

  <ion-card>
    <ion-item>
      <ion-label>{{eligible_crops}}</ion-label>
    </ion-item>
  </ion-card>

   
  <ion-item>
    <ion-label color="primary"><i>Maximum Loan Amount</i> </ion-label>
  </ion-item>

  <ion-card>
    <ion-item>
      <ion-label>{{maximum_loanamount}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-item>
    <ion-label color="primary"><i>Rate of Interest</i> </ion-label>
  </ion-item>

  <ion-card>
    <ion-item>
      <ion-label>{{Rateofinterest}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-item>
    <ion-label color="primary"><i>Repayment Period</i> </ion-label>
  </ion-item>

  <ion-card>
    <ion-item>
      <ion-label>{{Repaymentperiod}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-item>
    <ion-label color="primary"><i>more information</i> </ion-label>
  </ion-item>

  <ion-card>
    <ion-item>
      <ion-label>{{more_info}}</ion-label>
    </ion-item>
  </ion-card>







 
  
  
  
  

</ion-content>
