<!--<ion-header>
  <ion-toolbar>
    <ion-title>Crop</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="farmer-profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--<ion-tabs>
    <ion-tab-bar slot="bottom">
    <ion-tab-button tab = "paddy" >
      <ion-icon name="thumbs-up-outline"></ion-icon>
      <ion-label>Paddy</ion-label>
    </ion-tab-button>
    <ion-tab-button tab = "potato">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Potato</ion-label>
    </ion-tab-button>
    <ion-tab-button tab = "onion">
      <ion-icon name="reload-circle-outline"></ion-icon>
      <ion-label>Big Onion</ion-label>
    </ion-tab-button>
    <ion-tab-button tab = "maize">
      <ion-icon name="thumbs-down-outline"></ion-icon>
      <ion-label>Maize</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
  </ion-tabs>-->
  <ion-card *ngFor='let item of items' >
    <ion-card-header>
      <ion-card-subtitle>{{item.bank_name}}</ion-card-subtitle>
      <ion-card-title>{{item.bank_id}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{item.bank_des}}

      <ion-button expand="full"color="medium" (click)="ViewLoans($event)" id="{{item.bank_id}}">View the Loans</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
