<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="doofficer"></ion-back-button>
    </ion-buttons>
    <ion-title>Report History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngFor='let item of items'>

    <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card-subtitle><b>Issued Date</b></ion-card-subtitle>
      </ion-col>
      <ion-col size="8">
        <ion-card-subtitle>{{item.do_date}}</ion-card-subtitle>
      </ion-col>
      <ion-col size="4">
        <ion-card-subtitle><b>NIC No </b></ion-card-subtitle>
      </ion-col>
      <ion-col size="8">
        <ion-card-subtitle>{{item.nic}}</ion-card-subtitle>
      </ion-col>  
    </ion-row>


    <ion-row>
      <ion-col size="4">
        <ion-card-subtitle><b>Name</b></ion-card-subtitle>
      </ion-col>
      <ion-col size="8">
        <ion-card-subtitle>{{item.nameini}}</ion-card-subtitle>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-card-subtitle><b>Membership No</b></ion-card-subtitle>
      </ion-col>
      <ion-col size="8">
        <ion-card-subtitle>{{item.mem_id}}</ion-card-subtitle>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-card-subtitle><b>Grama Division Number</b></ion-card-subtitle>
      </ion-col>
      <ion-col size="8">
        <ion-card-subtitle>{{item.GN_No}}</ion-card-subtitle>
      </ion-col>  
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-card-subtitle><b>Grama Division Name</b></ion-card-subtitle>
      </ion-col>
      <ion-col size="8">
        <ion-card-subtitle>{{item.GN_Division}}</ion-card-subtitle>
      </ion-col> 
    </ion-row>


    <ion-row>
     <ion-col size="4">
        <ion-card-subtitle></ion-card-subtitle>
     </ion-col>
     <ion-col size="8">
        <ion-button color="secondary" id="{{item.rep_id}}"  (click)="details($event)">To Report</ion-button>
     </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>



</ion-content>
