<!-- <ion-header>
  <ion-toolbar>
    <ion-title>obtainedLoansLoan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>Obtained Loans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <br>

  <!-- <ion-grid>
    <ion-row class="bold">
      <ion-col size="3">Application ID</ion-col>
      <ion-col size="3">Name</ion-col>
      <ion-col size="3">Approved Date</ion-col>
    </ion-row>

    <br>
    <br>

    <ion-row *ngFor='let item of items'>
      <ion-col class="col" size="3">{{item.application_id}}</ion-col>
      <ion-col class="col" size="3">{{item.nameini}}</ion-col>
      <ion-col class="col" size="3">{{item.obtained_date}}</ion-col>
      <ion-col size="3">
        <ion-button shape="round" (click)="viewObtainedLoans($event)" id="{{item.application_id}}">View</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid> -->

  <ion-grid>
    <ion-row class="bold">
      <ion-col size="3">NIC</ion-col>
      <ion-col size="3">Name</ion-col>
      <ion-col size="3">Date</ion-col>
    </ion-row>

    <ion-row *ngFor='let item of items'>
      <ion-col class="col" size="3">{{item.nic}}</ion-col>
      <ion-col class="col" size="3">{{item.nameini}}</ion-col>
      <ion-col class="col" size="3">{{item.date}}</ion-col>
      <ion-col size="3">
        <ion-button color="success" (click)="viewObtainedLoans($event)" id="{{item.application_id}}">View</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>


<!--<ion-content>
  <br>
  <br>
  <ion-card>
    <br>
    <ion-card>
      <ion-input type="text" placeholder="NIC NO"></ion-input>
    </ion-card>
    <ion-button expand="block" (click)="search()">
      <ion-icon name="search-outline"></ion-icon>
      Search
    </ion-button>
    <br>
    <br>

    <ion-label>Please enter farmer's NIC number to update payments details.</ion-label>
    <br>
  </ion-card>
</ion-content>-->

