
<!--<ion-header>
  <ion-toolbar>
    <ion-title>Tabs</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="farmer-profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Loan History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
   
    <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab = "obtained-loans">
      <ion-icon name="thumbs-up-outline"></ion-icon>
      <ion-label>obtained</ion-label>
    </ion-tab-button>
    <ion-tab-button tab = "approved-loans">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>approved</ion-label>
    </ion-tab-button>
    <ion-tab-button tab = "pending-loans">
      <ion-icon name="reload-circle-outline"></ion-icon>
      <ion-label>pending</ion-label>
    </ion-tab-button>
    <ion-tab-button tab = "rejected-loans">
      <ion-icon name="thumbs-down-outline"></ion-icon>
      <ion-label>rejected</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
  </ion-tabs>

</ion-content>
