<!--<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title>login To App</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-header no-border>
  <div class = "login-header ion-padding">
      <img class="logi-img" src="/assets/img/logo1.jpg" alt="logo">
  </div>
</ion-header>


<ion-content>
  <ion-list>
   
    <ion-item transparent>
      <img icon-small src="assets/icon/user.png"/>
       <ion-input type="text" placeholder="Telephone Number" [(ngModel)]="telephone_number" ></ion-input>
    </ion-item>
    <ion-item transparent>
      <img icon-small src="assets/icon/password.png"/>
      <ion-input type="password" placeholder="Password"[(ngModel)]="password" ></ion-input>
   </ion-item>
   

   <ion-button expand="full" class="ion-padding" color="success" (click)="tryLogin()">Login</ion-button>
  
  </ion-list>
  <p class="ion-padding info-1">
    <br/>
    If you do not have an account, Click <span (click)="openRegister()"><b> register now </b> </span>
  </p>
</ion-content>
