<ion-header>

  <ion-toolbar color="secondary"  class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="crop"></ion-back-button>
    </ion-buttons>
    <ion-title>Loan Application</ion-title>
  </ion-toolbar>
</ion-header>


<ion-item>
  <ion-label>Date</ion-label>
  <ion-datetime value="1990-02-19" placeholder="Select Date" [(ngModel)]='date'></ion-datetime>
  
</ion-item>



 

<!-- Segment with secondary color 
<ion-segment (ionChange)="segmentChanged($event)" color="secondary">
  <ion-segment-button value="standard">
    <ion-label>Standard</ion-label>
  </ion-segment-button>
  <ion-segment-button value="hybrid">
    <ion-label>Hybrid</ion-label>
  </ion-segment-button>
  <ion-segment-button value="sat">
    <ion-label>Satellite</ion-label>
  </ion-segment-button>
</ion-segment>-->

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="want" class="ion-text-center">
     <ion-label>Step 1</ion-label>
    </ion-segment-button>
    <ion-segment-button value="missed">
      <ion-label>Step 2</ion-label>
    </ion-segment-button>
    <ion-segment-button value="contact">
      <ion-label>Step 3</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Security">
      <ion-label>Step 4</ion-label>
    </ion-segment-button>
    <ion-segment-button value="gua">
      <ion-label>Step 5</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'want'">
    <ion-item>
      <ion-label>Facilities What you want </ion-label>
    </ion-item>
    <ion-item>
 
      <ion-label>What Crop type for you want ?</ion-label>
      <ion-select interface="popover" [(ngModel)]="crop">
        <ion-select-option >Paddy</ion-select-option>
        <ion-select-option >Big Onion</ion-select-option>
        <ion-select-option >Maize</ion-select-option>
        <ion-select-option >Potato</ion-select-option>
      </ion-select>
    
     </ion-item>
    
     <ion-item >
     
      <ion-label>What for </ion-label>
      <ion-select interface="popover" [(ngModel)]="whatfor">
        <ion-select-option >To get Property</ion-select-option>
        <ion-select-option >Machinery purposes</ion-select-option>
        <ion-select-option >Infrastructure development</ion-select-option>
        <ion-select-option >To get Seeds</ion-select-option>
        <ion-select-option >Fertilizer Purposes</ion-select-option>
        <ion-select-option >Chemical(pest/weed)</ion-select-option>
      </ion-select>
    
     </ion-item>
 
     <ion-item>
      <ion-label>Describe in Detail :</ion-label>
      <ion-textarea interface="popover"  placeholder="Reason For Applying a Loan" [(ngModel)]='reason'></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Amount Required :</ion-label>
      <ion-input type="text" placeholder="Rs :" [(ngModel)]='amount'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Repayment Period :</ion-label>
        <ion-input type="text" placeholder="No of Months" [(ngModel)]='months'></ion-input>
        </ion-item>

        <ion-item>
          <ion-button color="secondary"   (click)="AgrireportActionSheet()">Attach Agriculture Reports</ion-button>
        </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let p of photos">
                <img [src]="p"/>
              </ion-col>
            </ion-row>
        </ion-grid>
  </div>

  <div *ngIf="selectTabs == 'missed'">
    <ion-item>
      <ion-label>Spouse Details</ion-label>
    </ion-item>

    <ion-item >
 
      <ion-label>Civil Status</ion-label>
      <ion-select interface="popover" [(ngModel)]="civil">
        <ion-select-option >Married</ion-select-option>
        <ion-select-option >Not Married</ion-select-option>
        <ion-select-option >Divorced</ion-select-option>
      </ion-select>
    
     </ion-item>
      
    <ion-item>
      <ion-label>Name of Wife/Husband in Full :</ion-label>
      <ion-input type="text" placeholder="Name in Full" [(ngModel)]='spousename'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>If Spouse is employed state name and address of employer</ion-label>
        <ion-textarea interface="popover"  placeholder="If Spouse is employed state name and address of employer" [(ngModel)]='spo_emplo'></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>No of dependants & children :</ion-label>
        <ion-input type="text" placeholder="No of Children" [(ngModel)]='children'></ion-input>
        </ion-item>

        <ion-item>

          <ion-button size="small" color="secondary" (click)="incomereportActionSheet()">Attach Income Reports</ion-button>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let p of repo">
                <img [src]="p"/>
              </ion-col>
            </ion-row>
        </ion-grid>


  </div>

  <div *ngIf="selectTabs == 'contact'">
    
    
              <ion-item>
                <ion-label>Bank Details</ion-label>
              </ion-item>

    <ion-grid item-content>
      <ion-row>
        <ion-col col-3>Bank name</ion-col>
        <ion-col col-3>Name of Branch</ion-col>
        <ion-col col-3>Account No</ion-col>
        <ion-col col-3>Type of Account</ion-col>
    </ion-row>
      <ion-row>
          <ion-col col-3><ion-input type="text" [(ngModel)]='B1name'></ion-input></ion-col>
          <ion-col col-3><ion-input type="text" [(ngModel)]='B1branch'></ion-input></ion-col>
          <ion-col col-3><ion-input type="text" [(ngModel)]='B1accountno'></ion-input></ion-col>
          <ion-col col-3><ion-input type="text" [(ngModel)]='B1type'></ion-input></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3><ion-input type="text" [(ngModel)]='B2name'></ion-input></ion-col>
        <ion-col col-3><ion-input type="text" [(ngModel)]='B2branch'></ion-input></ion-col>
        <ion-col col-3><ion-input type="text" [(ngModel)]='B2accountno'></ion-input></ion-col>
        <ion-col col-3><ion-input type="text" [(ngModel)]='B2type'></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3><ion-input type="text" [(ngModel)]='B3name'></ion-input></ion-col>
      <ion-col col-3><ion-input type="text" [(ngModel)]='B3branch'></ion-input></ion-col>
      <ion-col col-3><ion-input type="text" [(ngModel)]='B3accountno'></ion-input></ion-col>
      <ion-col col-3><ion-input type="text" [(ngModel)]='B3type'></ion-input></ion-col>
  </ion-row>
</ion-grid> 

  </div>
  <div *ngIf="selectTabs == 'Security'">
    
   
    <ion-item>
      <ion-label><i>Fixed Property</i> </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Name and Location</ion-label>
      <ion-textarea interface="popover"  placeholder="Name and Location" [(ngModel)]='fix_name'></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-4>
      <ion-button color="secondary"  (click)="location()">Mark the land</ion-button>
    </ion-col>
          <ion-col col-4>
              <ion-button color="secondary"  (click)="addlocation()">Add</ion-button>
          </ion-col>
         <ion-col col-4>
            Latitude :<strong>{{i1}}</strong>
         </ion-col>
         <ion-col col-4>
          longitude :<strong>{{i2}}</strong>
        </ion-col >
      </ion-row>
    </ion-item>
    <ion-item>
      Address:<ion-textarea type="text" placeholder="Address"  [(ngModel)]="addr"></ion-textarea>

    </ion-item>

    <ion-item>
      <ion-label>Reg.No of deed,Date and notary name</ion-label>
      <ion-textarea interface="popover"  placeholder="Reg.No of deed,Date and notary name" [(ngModel)]='fix_deed'></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Size</ion-label>
      <ion-input type="text" placeholder="Size" [(ngModel)]='fix_size'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Current Value</ion-label>
        <ion-input type="text" placeholder="Rs :" [(ngModel)]='fix_value'></ion-input>
        </ion-item>

        <ion-item>

          <ion-button size="small" color="secondary" (click)="fixeddocumentActionSheet()">Attach Documents</ion-button>
          </ion-item>

          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let p of fix">
                <img [src]="p"/>
              </ion-col>
            </ion-row>
        </ion-grid>
        
  

          <ion-item>
            <ion-label><i>Motive Property</i> </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>About that Property</ion-label>
            <ion-textarea interface="popover"  placeholder="About that Property" [(ngModel)]='mot_about'></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label>Location</ion-label>
            <ion-input type="text" placeholder="Location" [(ngModel)]='mot_location'></ion-input>
          </ion-item>


            <ion-item>
              <ion-label>Current Value</ion-label>
              <ion-input type="text" placeholder="Rs :" [(ngModel)]='mot_value'></ion-input>
            </ion-item>

            <ion-item>

              <ion-button size="small" color="secondary" (click)="motivedocumentsActionSheet()">Attach Documents</ion-button>
              </ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col col-6 *ngFor="let p of mot">
                    <img [src]="p"/>
                  </ion-col>
                </ion-row>
            </ion-grid>

  </div>

  <div *ngIf="selectTabs == 'gua'">
    
    <ion-item>
      <ion-label><i>Guarantor 01</i> 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Full Name</ion-label>
      <ion-input type="text" placeholder="Full Name" [(ngModel)]='gua1_name'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Occupation</ion-label>
      <ion-input type="text" placeholder="Occupation" [(ngModel)]='gua1_occ'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Telephone Number</ion-label>
        <ion-input type="text" placeholder="Telephone Number" [(ngModel)]='gua1_tp'></ion-input>
        </ion-item>

        <ion-item>

          <ion-button size="small" color="secondary" (click)="gua1ActionSheet()">Attach Income Reports</ion-button>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-6 *ngFor="let p of gu1">
                <img [src]="p"/>
              </ion-col>
            </ion-row>
        </ion-grid>

          <ion-item>
            <ion-label><i>Guarantor 02</i> </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Full Name</ion-label>
            <ion-textarea interface="popover"  placeholder="Full Name" [(ngModel)]='gua2_name'></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Occupation</ion-label>
            <ion-input type="text" placeholder="Occupation" [(ngModel)]='gua2_occ'></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label>Telephone Number</ion-label>
              <ion-input type="text" placeholder="Telephone Number" [(ngModel)]='gua2_tp'></ion-input>
              </ion-item>
        
              <ion-item>
            
                <ion-button size="small" color="secondary" (click)="gua2ActionSheet()">Attach Income Reports</ion-button>
                </ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 *ngFor="let p of gua2">
                      <img [src]="p"/>
                    </ion-col>
                  </ion-row>
              </ion-grid>
        
               
          
                  <ion-button expand="block" color="secondary" (click)="submitapp()">Submit the application</ion-button>
                 





    </div>
</ion-content>


