<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Big onion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src='../../../assets/img/B1.jpg'/>
    <ion-card-header>
      <ion-card-subtitle>Bank-Loan-01</ion-card-subtitle>
      <ion-card-title>People's Bank</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       Please click to view loans in that bank.
    </ion-card-content>
    <ion-row>
      <ion-col>
    
        <ion-button expand="full"color="medium">Apply the Loan</ion-button>
      </ion-col>
     
    </ion-row>
  </ion-card>

</ion-content>
