<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="intro"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content color="primary">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="new-requests">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>New</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="approved-requests">
        <ion-icon name="checkmark"></ion-icon>
        <ion-label>Approved</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pending-requests">
        <ion-icon name="sync"></ion-icon>
        <ion-label>Rejected</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="obtain-loans">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Obtained</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>