
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">About-US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-label>
      A project has been started by a team of students of University of Ruhuna to facilitate the process of borrowing agricultural loans.This is the first project to facilitate this process in Sri Lanka. The aim of the project is to reduce wastage of time and money in the process of agricultural loan borrowing.
      <br>
      This mobile application has included the facilities to apply for agriculture loans online, to request and give agricultural reports, to handle loan applications and to update borrower payments.
    </ion-label>
  </ion-card>
</ion-content>