<ion-header>
  <ion-toolbar>
    <ion-title><b><i>Obtained-Loans</i></b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

 
  <ion-card *ngFor='let item of data'>

    <ion-grid>
      <ion-row >
        <ion-col><ion-label size="4"><b>Loan Name</b></ion-label></ion-col>
        <ion-col><ion-label>{{item.loan_name}}</ion-label></ion-col>
      
      </ion-row> 
      <ion-row >
        <ion-col><ion-label size="4"><b>Issued date</b></ion-label></ion-col>
        <ion-col><ion-label>{{item.issued_date}}</ion-label></ion-col>
      
      </ion-row> 
      <ion-row >
        <ion-col><ion-label size="4"><b>Issued Branch</b></ion-label></ion-col>
        <ion-col><ion-label>{{item.branch}}</ion-label></ion-col>
      
      </ion-row> 
  <ion-row >
    <ion-col><ion-label size="4"><b>Loan Amount</b></ion-label></ion-col>
    <ion-col><ion-label>{{item.amount}}</ion-label></ion-col>

  </ion-row>
  <ion-row>
    <ion-col><ion-label size="4"><b>Interest Rate</b></ion-label></ion-col>
    <ion-col><ion-label>{{item.interest_rate}}%</ion-label></ion-col>

  </ion-row>
  <!--<ion-row>
    <ion-col><ion-label size="4"><b>Expired Date</b></ion-label></ion-col>
    <ion-col><ion-label>{{item.expired_date}}</ion-label></ion-col>

  </ion-row>
  <ion-row>
    <ion-col><ion-label size="4"><b>Total amount</b></ion-label></ion-col>
    <ion-col><ion-label>{{item.total_amount}}</ion-label></ion-col>

  </ion-row>
  <ion-row>
    <ion-col><ion-label size="4"><b>No of installments</b></ion-label></ion-col>
    <ion-col><ion-label>{{item.no_of_installment}}</ion-label></ion-col>

  </ion-row>
  <ion-row>
    <ion-col><ion-label size="4"><b>installment</b></ion-label></ion-col>
    <ion-col><ion-label>{{item.installment}}</ion-label></ion-col>

  </ion-row>-->
</ion-grid>
<br>
<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-button size="default" expand="block" color="secondary" (click)="more($event)"id="{{item.obtain_id}}">More details</ion-button>
  </ion-col>
</ion-row>


</ion-card>




</ion-content>
