<ion-header>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-title>loanviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!--<button ion-button round full>Round Button</button>
  <ion-card>
   <ion-label class="header">Hii</ion-label>
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>-->


  <ion-card>
    <ion-card-header>
        <span style="color:blue">dfs</span>
        <ion-icon style="float: right;" (click)="takeAction(account.$key)" name="more">
      </ion-icon>
    </ion-card-header>
    <ion-card-content>
      <h5>Bank: <b>dsf</b></h5>
      <h5>Ac name: <b>sdf</b></h5>
      <h5>Ac name: <b>sff</b></h5>
    </ion-card-content>
    </ion-card>
</ion-content>