<ion-header>
  <ion-toolbar color="secondary"  class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="doofficer"></ion-back-button>
    </ion-buttons>
    <ion-title>Agriculture Reports</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  
  <ion-card *ngFor='let item of items'>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card-subtitle><b>NIC No </b></ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
          <ion-card-subtitle>{{item.nic}}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-card-subtitle><b>Name</b></ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
          <ion-card-subtitle>{{item.nameini}}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-card-subtitle><b>Requested Crop Type</b></ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
          <ion-card-subtitle>{{item.crop}}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-card-subtitle></ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
          <ion-button color="secondary" id="{{item.rep_id}}"  (click)="details($event)">Verify Details</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-card>

</ion-content>
