<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>Approved Requests{{loan_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

  <br>

  <ion-grid>
    <ion-row class="bold">
      <ion-col size="3">NIC</ion-col>
      <ion-col size="3">Name</ion-col>
      <ion-col size="3">Approved Date</ion-col>
    </ion-row>

    <ion-row *ngFor='let item of items'>
      <ion-col class="col" size="3">{{item.nic}}</ion-col>
      <ion-col class="col" size="3">{{item.nameini}}</ion-col>
      <ion-col class="col" size="3">{{item.approved_date}}</ion-col>
      <ion-col size="3">
        <ion-button color="success" (click)="viewApprovedRequest($event)" id="{{item.application_id}}">View</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>