ion-slide {
    height: 100vh;
    flex-direction: column;
}

/*ion-img {
    max-width: 50vh;
    max-height: 50vh;
    overflow: hidden;
}*/

.slide-one {
   // background :url('../../../assets/img/background.jpeg') 0 0/ 100% 100% no-repeat;
    color :rgb(2, 2, 2);
}

.slide-two {
   // background :url('../../../assets/img/S1.png') 0 0/ 100% 100% no-repeat;
    color :rgb(2, 2, 2);

}

.labelintro{
    margin-left:10px;
    margin-right:10px;
}

.labelintro span {
    font-size: 14px;
}

ion-img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
    overflow: hidden;
}