<ion-header>
  <ion-toolbar color="secondary"  class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Agriculture Officer Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <ion-card>
  <ion-row>
    <ion-col size="4">
      <ion-card-subtitle><b>Date</b></ion-card-subtitle>
    </ion-col>
    <ion-col size="8">
      <ion-datetime value="1990-02-19" placeholder="Select Date" [(ngModel)]='ao_date'></ion-datetime>
    </ion-col>
  </ion-row>
</ion-card>

  <ion-card>
    <ion-label color="primary"><strong>Personal Information</strong></ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card-subtitle><b>Name</b></ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
          <ion-card-subtitle>{{choose}} {{nameini}}</ion-card-subtitle>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card-subtitle><b>Nic No</b></ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
          <ion-card-subtitle>{{nic}}</ion-card-subtitle>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card-subtitle><b>membership no</b></ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
          <ion-input type="text" placeholder="memebershp no" [(ngModel)]="mem_id" ></ion-input>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card-subtitle><b>fertilizer sub No</b></ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
          <ion-input type="text" placeholder="fertilizer sub No" [(ngModel)]="fert_id" ></ion-input>
        </ion-col>
        
      </ion-row>
    </ion-grid>

    </ion-card>

    <ion-card>
      <ion-label color="primary"><strong>Past Performance</strong></ion-label>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-card-subtitle><b>Year</b></ion-card-subtitle>
          </ion-col>
          <ion-col size="8">
            <ion-select value="2020" [(ngModel)]="year">
              <ion-select-option value="2020">2020</ion-select-option>
              <ion-select-option value="2019">2019</ion-select-option>
              <ion-select-option value="2018">2018</ion-select-option>
              <ion-select-option value="2017">2017</ion-select-option>
              <ion-select-option value="2016">2016</ion-select-option>
              <ion-select-option value="2015">2015</ion-select-option>
              <ion-select-option value="2014">2014</ion-select-option>
              <ion-select-option value="2013">2013</ion-select-option>
              <ion-select-option value="2012">2012</ion-select-option>
              <ion-select-option value="2011">2011</ion-select-option>
              <ion-select-option value="2010">2010</ion-select-option>
            </ion-select>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-card-subtitle><b>Season</b></ion-card-subtitle>
          </ion-col>
          <ion-col size="8">
            <ion-select interface="popover" [(ngModel)]="season">
              <ion-select-option >Yala</ion-select-option>
              <ion-select-option >Maha</ion-select-option>
            </ion-select>
          </ion-col>
          
        </ion-row>
 
        <div class="ou">
          <ion-row>
            <ion-col size="4">
              <ion-card-subtitle><b>Area</b></ion-card-subtitle>
            </ion-col>
            <ion-col size="8">
              <ion-input type="text" placeholder="area" [(ngModel)]="area" ></ion-input>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-card-subtitle><b>Crop</b></ion-card-subtitle>
            </ion-col>
            <ion-col size="8">
              <ion-input type="text" placeholder="Crop" [(ngModel)]="crop_type" ></ion-input>
            </ion-col>
            
          </ion-row>
          
          
        </div>

        <ion-row>
          <ion-col size="4">
            <ion-card-subtitle><b>Subsedaries</b></ion-card-subtitle>
          </ion-col>
          <ion-col size="8">
          
              
              <ion-select multiple="true" cancelText="NO" okText="Yes" [(ngModel)]="sub">
                <ion-select-option value="Seed">Seed</ion-select-option>
                <ion-select-option value="Fertilizer">Fertilizer</ion-select-option>
                <ion-select-option value="Chemical">Chemical</ion-select-option>
              </ion-select>
         
          </ion-col>
          
        </ion-row>

        
      </ion-grid>
  
    </ion-card>

       
    

    <ion-card>
      <ion-label color="primary"><strong>Agriculture Loan Details</strong></ion-label>
     <form #addressForm="ngForm" (ngSubmit)="logValue()">
    <br>
      <ion-col><button type="button" class="btn btn-primary mb-2" (click)="addAddress()">Add Loan</button></ion-col>
          <section class="container border mb-4 p-3" *ngFor="let address of addresses; let i = index;">
  
    
              
         
                    <ion-row>
                      <ion-col>
                        <ion-card-subtitle><b>Bank Name</b></ion-card-subtitle>
                      </ion-col>
                      <ion-col>  
                      <input type="text" class="form-control" [(ngModel)]="address.bank_name" name="address_{{address.id}}"/>
                    </ion-col>
                    </ion-row>
            
                      <ion-row>
                        <ion-col>
                          <ion-card-subtitle><b>Amount</b></ion-card-subtitle>
                    </ion-col>
                  <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="address.b_amount" name="street_{{address.id}}" />
                    </ion-col>
                    </ion-row>

                    <ion-row>

                      <ion-col> <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress(i)">Remove Loan</button></ion-col>
                    </ion-row>
               
             
          </section>
    
  
        
    </form>
  </ion-card>



<ion-card>
  <ion-label color="primary"><strong>Harvest</strong></ion-label>
  <ion-grid>
    <ion-row>
    <ion-col size="4">
      <ion-card-subtitle><b>Quantity</b></ion-card-subtitle>
    </ion-col>
    <ion-col size="8">
      <ion-input type="text" placeholder="Quantity" [(ngModel)]="quantity" ></ion-input>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-card-subtitle><b>Income</b></ion-card-subtitle>
    </ion-col>
    <ion-col size="8">
      <ion-input type="text" placeholder="income" [(ngModel)]="income" ></ion-input>
    </ion-col>
    
  </ion-row>
  </ion-grid>


 





</ion-card>

<ion-card>
  <ion-label color="primary"><strong>Attach Documents</strong></ion-label>
  <ion-item>
            
    <ion-button size="small" color="secondary" (click)="agriofficerActionSheet()">Click here</ion-button>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let p of photos">
          <img [src]="p"/>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-card>










      <ion-row>
       <ion-col size="4">
         <ion-card-subtitle></ion-card-subtitle>
       </ion-col>
       <ion-col size="8">
       <ion-button color="secondary"  (click)="details()">Submit Report</ion-button>
       </ion-col>
       
       </ion-row>

    
    
   



</ion-content>
